---
import Auth from "../layouts/Auth.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Нотатки">
  <Auth />
  <main class="container">
    <p>Tyt bydyt' notatku</p>
  </main>
</Layout>
